# Unit 25. 딕셔너리 응용하기

In [26]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [27]:
x.setdefault('e')
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [28]:
x.update(e=50)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [29]:
x.setdefault('f',100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 100}

In [31]:
x.update(e=900, f=60)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 900, 'f': 60}

In [32]:
y = {1:'one',2:'two'}
y.update({1:'ONE',3:'THREE'})
y

{1: 'ONE', 2: 'two', 3: 'THREE'}

In [35]:
y.update([[2,'TWO'],[4,'FOUR']])
y

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [36]:
y.update(zip([i for i in range(1,3)],['one','two']))
y

{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

In [37]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
z = x.pop('a')
z

10

In [38]:
del x['c']
x

{'b': 20, 'd': 40}

In [39]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.popitem()

('d', 40)

In [40]:
x.popitem()

('c', 30)

In [41]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
x

{}

In [46]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x['a']

10

In [47]:
x.get('a')

10

### 딕셔너리에서 키-값 쌍을 모두 가져오기

In [51]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [52]:
for key, value in x.items():
    print(key,value)

a 10
b 20
c 30
d 40

In [53]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [55]:
x.values()

dict_values([10, 20, 30, 40])

In [56]:
for key in x.keys():
    print(key,x[key])

a 10
b 20
c 30
d 40

### 리스트와 튜플로 딕셔너리 만들기

In [58]:
keys = ['a', 'b', 'c', 'd']
values = [10,20,30,40]
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [62]:
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

### 딕셔너리와 for 반복문

In [64]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for value in x.values():
    print(value, end=' ')

10 20 30 40

In [65]:
for i in x:
    print(i,end=' ')

a b c d

In [66]:
for key, value in x.items():
    print(key,value)

a 10
b 20
c 30
d 40

In [67]:
for key in x.keys():
    print(key,x[key])

a 10
b 20
c 30
d 40

In [68]:
for value in x.values():
    print(value,end=' ')

10 20 30 40

### 딕셔너리 표현식

In [69]:
keys = ['a','b','c','d']
x = {key:value for key,value in dict.fromkeys(keys).items()}
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [70]:
{value : key for key,value in {'a':10,'b':20, 'c': 30, 'd': 40}.items()}

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [71]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
 
for key, value in x.items():
    if value == 20:    # 값이 20이면
        del x[key]     # 키-값 쌍 삭제
 
print(x)

RuntimeError: dictionary changed size during iteration

In [73]:
x = {key:value for key, value in x.items() if value != 20}
x

{'a': 10, 'c': 30, 'd': 40}

In [74]:
x = {key:value for key, value in x.items() if value < 20}
x

{'a': 10}

### Nested dictionary

In [75]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
terrestrial_planet.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars'])

In [76]:
terrestrial_planet['Mercury']

{'mean_radius': 2439.7, 'mass': 3.3022e+23, 'orbital_period': 87.969}

In [77]:
terrestrial_planet['Venus']['mean_radius']

6051.8

In [79]:
for outer_key,out_value in terrestrial_planet.items():
    print(outer_key)
    for inner_key,inner_value in out_value.items():
        print('\t',inner_key,':\t',inner_value)

Mercury
	 mean_radius :	 2439.7
	 mass :	 3.3022e+23
	 orbital_period :	 87.969
Venus
	 mean_radius :	 6051.8
	 mass :	 4.8676e+24
	 orbital_period :	 224.70069
Earth
	 mean_radius :	 6371.0
	 mass :	 5.97219e+24
	 orbital_period :	 365.25641
Mars
	 mean_radius :	 3389.5
	 mass :	 6.4185e+23
	 orbital_period :	 686.96

### 딕셔너리의 할당과 복사

In [85]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 99}

In [86]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x.copy()
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [87]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [88]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
import copy
y = copy.deepcopy(x)
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}