# Unit 26. 세트 사용하기

In [11]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print(fruits)

{'strawberry', 'pineapple', 'orange', 'grape', 'cherry'}

In [12]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [13]:
fruits = {'orange','orange','banana'}
print(fruits)

{'banana', 'orange'}

In [14]:
'orange' in fruits

True

In [15]:
'peach' in fruits

False

In [16]:
a = set('apple') # 유일한 문자만 세트로 만듦
a

{'a', 'e', 'l', 'p'}

In [18]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [19]:
c= set('안녕하세요')
c

{'녕', '세', '안', '요', '하'}

### 집합 연산

In [20]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a|b

{1, 2, 3, 4, 5, 6}

In [22]:
b-a

{5, 6}

In [29]:
a.difference(b)

{1, 2}

In [23]:
a&b

{3, 4}

In [26]:
a.intersection(b)

{3, 4}

In [30]:
a^b

{1, 2, 5, 6}

In [31]:
a.symmetric_difference(b) #대칭 차집합

{1, 2, 5, 6}

In [32]:
a |= {5}
a

{1, 2, 3, 4, 5}

In [34]:
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [35]:
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [36]:
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [37]:
a.difference_update({3})
a

{1, 2, 4}

In [38]:
a <= {1,2,3,4}

True

In [39]:
a >= {1,2,3,4}

False

In [40]:
a = {1, 2, 3, 4}
a == {4,2,1,3}

True

In [41]:
a.add(5)   # a |= {5}
a

{1, 2, 3, 4, 5}

In [42]:
 a.remove(6)

KeyError: 6

In [44]:
a.discard(6)
a

{1, 2, 3, 4, 5}

In [45]:
a.pop()

1

In [46]:
a.clear()
a

set()

In [55]:
a = {1, 2, 3, 4}
len(a)

4

In [53]:
b = a
b.add(5)
a

{1, 2, 3, 4, 5}

In [56]:
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [63]:
a = {1, 2, 3, 4}
for i in a:
    print(i)

1
2
3
4

In [64]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

In [77]:
a,b = map(int,input().split())
print(a,b)

10 20
10 20

In [79]:
c = {i for i in range(1,a+1) if a % i == 0}
d = {i for i in range(2,b+1) if b % i == 0}
print(c,d)

{1, 2, 10, 5} {2, 4, 5, 10, 20}