# Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

### 위치 인수와 리스트 언패킹

In [1]:
def print_numbers(a,b,c):
    print(a)
    print(b)
    print(c)

In [2]:
print_numbers(10,20,30)

10
20
30

In [7]:
x = [10,20,30]
print_numbers(*x)

10
20
30

In [8]:
print_numbers(*(40,50,60))

40
50
60

In [9]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [12]:
print_numbers(10)
print_numbers(20,30,40,50)

10
20
30
40
50

In [17]:
def print_numbers(a,*args):
    print(a)
    for arg in args:
        print(arg)

In [18]:
print_numbers(1)
print_numbers(1,10,20)

1
1
10
20

In [19]:
def persnal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [20]:
persnal_info('홍길동',30,'서울시 강서구 발산동')

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

In [22]:
persnal_info(age = '30',address='서울시 강서구 발산동',name = '홍길동')

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

### 키워드 인수와 딕셔너리 언패킹

In [26]:
def persnal_info(name, age, address):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', address)

In [29]:
x = {'name':'홍길동','age':30,'address':'서울시 강서구 발산동'}
persnal_info(**x)

이름 :  홍길동
나이 :  30
주소 :  서울시 강서구 발산동

### 가변 키워드 인수를 갖는 함수 만들기

In [32]:
def persnal_info(**kwargs):
    for kw,arg in kwargs.items():
        print(kw,':',arg,sep='')

In [34]:
persnal_info(name='홍길동',age='30',address='서울시 강서구 발산동')

name:홍길동
age:30
address:서울시 강서구 발산동

In [35]:
persnal_info(**{'name':'홍길동','age':30})

name:홍길동
age:30

In [38]:
def persnal_info(**kwargs):
    if 'name' in kwargs:
        print('이름: ',kwargs['name'])
    if 'age' in kwargs:
        print('나이: ',kwargs['age'])
    if 'address' in kwargs:
        print('주소: ',kwargs['address'])

In [40]:
persnal_info(**{'name':'홍길동','age':30,'old':'old'})

이름:  홍길동
나이:  30

In [41]:
def persnal_info(name,**kwargs):
    print(name)
    print(kwargs)

In [42]:
persnal_info('홍길동',age=30,address='한국')

홍길동
{'age': 30, 'address': '한국'}

### 위치인수와 키워드 인수를 함께 사용하기

In [44]:
def custom_print(*args,**kwargs):
    print(*args,**kwargs)

In [46]:
custom_print(1,2,3,sep=':',end=' END\n')

1:2:3 END

### 고정인수, 가변 위치인수, 키워드 인수 함께 사용하기

In [49]:
def custom_print():
    print('custom_print(a,b,*args,**kwargs)')
custom_print()

custom_print(a,b,*args,**kwargs)

### 매개변수에 초깃값 지정하기

In [50]:
def persnal_info(name,age,address='비공개'):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', address)

In [51]:
persnal_info('홍',20)

이름 :  홍
나이 :  20
주소 :  비공개

In [53]:
persnal_info('홍',20,'서울')

이름 :  홍
나이 :  20
주소 :  서울

#### *초깃값 정해진 매개변수는 뒤쪽에 몰아서

In [56]:
def persnal_info(name,address='비공개',age):
    print('이름 : ', name)
    print('나이 : ', age)
    print('주소 : ', address)

SyntaxError: non-default argument follows default argument (<ipython-input-56-c6314bb551ae>, line 1)

### 재귀 호출

In [57]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [58]:
factorial(5)

120

In [65]:
def fibo(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return fibo(n-1)+ fibo(n-2)

In [66]:
for i in range(0,11):
    print(i,fibo(i))

0 0
1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55

In [62]:
def an(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return 3 * an(n-1)+5 * an(n-2)

In [63]:
for i in range(1,11):
    print(i,an(i))

1 1
2 3
3 14
4 57
5 241
6 1008
7 4229
8 17727
9 74326
10 311613