In [1]:
# 양수판별
n = int(input('숫자를 입력하세요 :'))

숫자를 입력하세요 :7

In [2]:
if n > 0 :
    print('%d 은/는 양수입니다'% n)
else :
    print('%d 은/는 0 또는 음수!' % n)

7 은/는 양수입니다

In [4]:
# 논리 곱
name = input('이름을 입력하세요 :')
score1 = int(input('필기성적을 입력하세요 :'))
score2 = int(input('실기성적을 입력하세요 :'))

if (score1 >= 80) and (score2 >= 80) :
    print('%s님은 합격입니다' % name)
else :
    print('%s님은 불합격입니다' % name)

이름을 입력하세요 :철수
필기성적을 입력하세요 :30
실기성적을 입력하세요 :20
철수님은 불합격입니다

In [5]:
# 논리부정
name = input('이름을 입력하세요 : ')

이름을 입력하세요 : 철수

In [6]:
if not name:
    print('이름이 입력되지 않았음.')
else :
    print('입력된 이름 : %s' % name)

입력된 이름 : 철수

In [7]:
#양수, 0, 음수판별
n = int(input('정수 입력> '))

정수 입력> 7

In [8]:
if n > 0:
    print('%s 은/는 양수입니다' % n)
elif n == 0:
    print('%s 은/는 0입니다' % n)
else :
    print('%s 은/는 음수입니다' % n)

7 은/는 양수입니다

In [9]:
answer = '12345'
password = input('비밀번호를 입력하세요 : ')

if password == answer :
    print('비밀번호 OK!')
else :
    print('비밀번호 NOT OK!')

비밀번호를 입력하세요 : 111
비밀번호 NOT OK!

In [10]:
score = int(input('점수를 입력하세요 : '))

if score >= 90 :
    grade = 'A'
elif score >= 80 :
    grade = 'B'
elif score >= 70 :
    grade = 'C'
elif score >= 60 :
    grade = 'D'
else :
    grade = 'F'
    
print('성적 : %d점'% score)
print('등급 : %s'% grade)

점수를 입력하세요 : 80
성적 : 80점
등급 : B

In [11]:
month = int(input('월을 입력하세요 : '))

if month >= 3 and month <= 5:
    print('%d 월은 봄입니다.'% month)
if month >= 6 and month <= 8:
    print('%d 월은 여름입니다.'% month)
if month >= 9 and month <= 11:
    print('%d 월은 가을입니다.'% month)
if month ==12 or month ==1 or month ==2: 
     print('%d 월은 겨울입니다.'% month)

월을 입력하세요 : 8
8 월은 여름입니다.

In [12]:
# 세수의 합과 평균
x = int(input('숫자>'))
y = int(input('숫자>'))
z = int(input('숫자>'))

숫자>7
숫자>50
숫자>100

In [14]:
x, y, z = input('세개의 숫자입력').split()

세개의 숫자입력7 50 100

In [15]:
x, y, z

('7', '50', '100')

In [16]:
int(x), int(y), int(z)

(7, 50, 100)

In [17]:
x, y, z = map(int, input('세개의 숫자입력').split())
x, y, z

세개의 숫자입력7 50 100

(7, 50, 100)

In [18]:
sum = x + y + z
avg = sum / 3
sum, avg

(157, 52.333333333333336)

In [19]:
# 만 나이 계산
current_year = 2020
current_month = 8
current_day = 28

In [20]:
year, month, day = map(int,input('생일입력> ').split())
year, month, day

생일입력> 2001 7 8

(2001, 7, 8)

In [21]:
if current_month > month:                          #현재월 > 생일

    age = current_year-year                        #현재월 < 생일
elif current_month < month:                         
    age = age = current_year-year-1
else:                                              #현재월 = 생일
    if current_day < day:                             #현재일 < 생일
        age = age = current_year-year-1
    else :                                            #현재일 >= 생일
        age = current_year-year
        
print (age)

19

In [17]:
# 파이썬 datetime 모듈
import datetime
datetime.datetime.now()

datetime.datetime(2020, 8, 28, 11, 23, 32, 960640)

In [18]:
current_year = datetime.datetime.now().year
current_month = datetime.datetime.now().month
current_day = datetime.datetime.now().day
current_year, current_month, current_day

(2020, 8, 28)

In [19]:
year, month, day = map(int,input('생일입력> ').split())
year, month, day

생일입력> 2000 8 7

(2000, 8, 7)

In [20]:
if current_month > month:                          #현재월 > 생일

    age = current_year-year                        #현재월 < 생일
elif current_month < month:                         
    age = age = current_year-year-1
else:                                              #현재월 = 생일
    if current_day < day:                             #현재일 < 생일
        age = age = current_year-year-1
    else :                                            #현재일 >= 생일
        age = current_year-year
        
print (age)

20

In [22]:
# 생일 6자리 숫자로 받아서 처리하기
birthday = input('생일 6자리 숫자')
b_year = int(birthday[:2])
if b_year < 20 :
    b_year += 2000
else :
    b_year += 1900
b_month = int(birthday[2:4])
b_day = int(birthday[4:])    
b_year, b_month, b_day

생일 6자리 숫자000430

(2000, 4, 30)

In [27]:
#생일 임의의 연속된 숫자로 받아서 처리하기
birthday = input('생일(6, 7, 8자리 숫자)>')
if len(birthday) == 6:
    b_year = int(birthday[:2])
    if b_year < 20 :
        b_year += 2000
    else :
        b_year += 1900
    b_month = int(birthday[2:4])
    b_day = int(birthday[4:])    
elif len(birthday) == 7:
    b_year = int(birthday[:2])
    if int(birthday[-1]) > 2 :
        b_year += 2000
    else :
        b_year += 1900
    b_month = int(birthday[2:4])
    b_day = int(birthday[4:])    
elif len(birthday) == 8:
    b_month = int(birthday[:4])
    b_month = int(birthday[4:6])
    b_day = int(birthday[6:])
else :
    print('6~8자리의 숫자를 입력해주세요')
print(b_year, b_month, b_day)

생일(6, 7, 8자리 숫자)>001227
2000 12 27

## Q3-2

In [38]:
a = int(input('좌석 종류를 입력해 주세요(1:일반실, 2:특실):'))

seat1 = '일반실'
seat2 = '특실'

if a == 1:
    print('%s입니다.'%seat1)
if a == 2:
    print('%s입니다.'%seat2)

좌석 종류를 입력해 주세요(1:일반실, 2:특실):1
일반실입니다.

In [42]:
a = int(input('숫자를 입력하세요 : '))
if a % 4 == 0 and a % 5 != 0:
    print('%d은(는)4의 배수이다.')
if a % 4 != 0 and a % 5 == 0:
    print('%d은(는) 4의 배수이다.')
if a % 4 == 0 and a % 5 == 0:
    print('%d은(는)4와 5의 배수이다.')
else :
    print('%d은(는) 4의 배수도 5의 배수도 아니다.' % a)

숫자를 입력하세요 : 4
%d은(는)4의 배수이다.
4은(는) 4의 배수도 5의 배수도 아니다.