# 파이썬의 기본 문법
# # 숫자

In [23]:
# 두수의 합 구하기
a = 20
b = 30 
c = a+b 
print(c)

50

In [7]:
# 정수형
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [6]:
type(x)

int

In [8]:
# 실수형
x = 3.3764
y = 6/2
print(x,y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [9]:
type(x),type(y)

(float, float)

In [10]:
type(x)
type(y)

float

In [12]:
# 문자열
a = 'x'
b = 'I am ok.'
c = "안녕하세요."
d = "I'm ok."
print(a,b,c,d)
print(type(d))

x I am ok. 안녕하세요. I'm ok.
<class 'str'>

In [13]:
#숫자와 문자열
a = 30
a, type(a)

(30, int)

In [14]:
b = '30'
b,type(b)

('30', str)

In [16]:
x = 'I am happy!'
print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [18]:
t = True
f = False
condition = 10 > 20
condition

False

In [19]:
type(condition)

bool

## 산술연산자

In [24]:
# 사칙연산
a = 10
b = 20
c = a + b * 10 - 5 / 5
print(c)

209.0

## 거듭제곱연산자

In [3]:
x=2**3
x

8

In [2]:
2**-3

0.125

In [4]:
# 할당연산자
x = 10
x += 20
x

30

# 문자열

In [5]:
# 문자열 반복
hello = '안녕'*5
hello

'안녕안녕안녕안녕안녕'

In [6]:
#문자열길이(len)
len(hello)

10

In [7]:
len('나는 python을 좋아합니다.')

17

In [8]:
#문자열 연결(concatenate)
name = '홍지수'
greet = name + '님 안녕하세요?'
greet

'홍지수님 안녕하세요?'

In [9]:
#문자열 연결오류
eng = 80
result = '영어점수:' + eng + '점'
result

TypeError: can only concatenate str (not "int") to str

In [11]:
eng = 70.3
result = '영어점수:' + str(eng) + '점'
result

'영어점수:70.3점'

In [12]:
#문자열 포멧팅
result = '영어점수: %d점' % 80
result

'영어점수: 80점'

In [14]:
year = 2020
month = 8
day = 27

date = '%s-%02s-%02s'%(year,month,day)
date

'2020- 8-27'

In [16]:
height = 172.5
a = '키는 %.2f입니다' % height
a

'키는 172.50입니다'

In [19]:
# format()활용
name = '황예린'
age = 18
eyesight = 1.2

a = '이름:{}'.format(name)
b = '나이:{}'.format(age)
c = '시력:{}'.format(eyesight)
a,b,c

('이름:황예린', '나이:18', '시력:1.2')

In [20]:
#문자열 메소드
hello.count('안')

5

In [22]:
a.find('름')

1

In [23]:
a.find('나')

-1

In [5]:
names = '김,이,박,최,정'
first_names = names.split(',')
first_names

['김', '이', '박', '최', '정']

In [6]:
names = '김/t,이/t,박/t,최/t,정/t'
first_names = names.split('/t')
first_names

['김', ',이', ',박', ',최', ',정', '']

In [8]:
space = names.isspace()
space

False

## 실행결과 출력

In [13]:
# 콤마
print(name,age,eyesight)

황예린 18 1.2

In [19]:
year = 2020
month = 8
day = 27

print(year, month, day)
print(year, month, day,sep='/')
print(year, month, day,sep='--')

2020 8 27
2020/8/27
2020--8--27

In [20]:
print(name,age,eyesight)
print(year, month, day)

황예린 18 1.2
2020 8 27

In [26]:
print(name,age,eyesight,end='\n\n')
print(year, month, day)

황예린 18 1.2

2020 8 27

In [29]:
name = input('이름 입력>')

이름 입력>홍길동

In [31]:
name

'홍길동'

In [32]:
first = input('첫번쨰 숫자')
second = input('두번째 숫자')

첫번쨰 숫자10
두번째 숫자20

In [33]:
sum = first + second
sum

'1020'

In [36]:
sum = int(first) + int(second)
sum

30

In [37]:
inch = float(input('인치(inch)값 입력>'))

인치(inch)값 입력>30

In [38]:
inch

30.0

In [39]:
cm = 2.54*inch
print('inch:%.2f ==> Centimeter: %.2f'%(inch,cm))

inch:30.00 ==> Centimeter: 76.20

# 주석문

In [40]:
# 한줄짜리 주석문
cm = 2.54*inch
'''
이 사이에는 여러줄짜리 주석문이 올 수 있습니다.
프로그램명: 두 수 더하기
'''

'\n이 사이에는 여러줄짜리 주석문이 올 수 있습니다.\n프로그램명: 두 수 더하기\n'

In [ ]:
print()