In [6]:
# 양수판별
n = int(input('숫자를 입력하세요 :'))

숫자를 입력하세요 :8

In [7]:
if n > 0 :
    print('%d 은/는 양수입니다'% n)
else :
    print('%d 은/는 0 또는 음수!' % n)

8 은/는 양수입니다

In [12]:
# 논리 곱
name = input('이름을 입력하세요 :')
score1 = int(input('필기성적을 입력하세요 :'))
score2 = int(input('실기성적을 입력하세요 :'))

if (score1 >= 80) and (score2 >= 80) :
    print('%s님은 합격입니다' % name)
else :
    print('%s님은 불합격입니다' % name)

이름을 입력하세요 :70
필기성적을 입력하세요 :70
실기성적을 입력하세요 :70
70님은 불합격입니다

In [16]:
# 논리부정
name = input('이름을 입력하세요 : ')

이름을 입력하세요 : 1

In [17]:
if not name:
    print('이름이 입력되지 않았음.')
else :
    print('입력된 이름 : %s' % name)

입력된 이름 : 1

In [20]:
#양수, 0, 음수판별
n = int(input('정수 입력> '))

정수 입력> 0

In [25]:
if n > 0:
    print('%s 은/는 양수입니다' % n)
elif n == 0:
    print('%s 은/는 0입니다' % n)
else :
    print('%s 은/는 음수입니다' % n)

0 은/는 0입니다

In [26]:
answer = '12345'
password = input('비밀번호를 입력하세요 : ')

if password == answer :
    print('비밀번호 OK!')
else :
    print('비밀번호 NOT OK!')

비밀번호를 입력하세요 : 1234
비밀번호 NOT OK!

In [28]:
score = int(input('점수를 입력하세요 : '))

if score >= 90 :
    grade = 'A'
elif score >= 80 :
    grade = 'B'
elif score >= 70 :
    grade = 'C'
elif score >= 60 :
    grade = 'D'
else :
    grade = 'F'
    
print('성적 : %d점'% score)
print('등급 : %s'% grade)

점수를 입력하세요 : 77
성적 : 77점
등급 : C

In [33]:
month = int(input('월을 입력하세요 : '))

if month >= 3 and month <= 5:
    print('%d 월은 봄입니다.'% month)
if month >= 6 and month <= 8:
    print('%d 월은 여름입니다.'% month)
if month >= 9 and month <= 11:
    print('%d 월은 가을입니다.'% month)
if month ==12 or month ==1 or month ==2: 
     print('%d 월은 겨울입니다.'% month)

월을 입력하세요 : 4
4 월은 봄입니다.

In [ ]:
# 세수의 합과 평균
x = int(input('숫자>'))
y = int(input('숫자>'))
z = int(input('숫자>'))

In [37]:
x, y, z = input('세개의 숫자입력').split()

세개의 숫자입력7 8 9

In [38]:
x, y, z

('7', '8', '9')

In [39]:
int(x), int(y), int(z)

(7, 8, 9)

In [41]:
x, y, z = map(int, input('세개의 숫자입력').split())
x, y, z

세개의 숫자입력35 67 94

(35, 67, 94)

In [42]:
sum = x + y + z
avg = sum / 3
sum, avg

(196, 65.33333333333333)

In [1]:
# 만 나이 계산
current_year = 2020
current_month = 8
current_day = 28

In [4]:
year, month, day = map(int,input('생일입력> ').split())
year, month, day

생일입력> 2000 9 8

(2000, 9, 8)

In [7]:
if current_month > month:                          #현재월 > 생일

    age = current_year-year                        #현재월 < 생일
elif current_month < month:                         
    age = age = current_year-year-1
else:                                              #현재월 = 생일
    if current_day < day:                             #현재일 < 생일
        age = age = current_year-year-1
    else :                                            #현재일 >= 생일
        age = current_year-year
        
print (age)

19

In [6]:
age

19