# Unit 16.for 반복문

In [5]:
k = 4
for i in range(k):
    print('hello',i)
list(range(5))

hello 0
hello 1
hello 2
hello 3

[0, 1, 2, 3, 4]

In [8]:
for i in range(0,20,5):
    print('hello, world',i)

hello, world 0
hello, world 5
hello, world 10
hello, world 15

In [11]:
sum = 0
for i in range(5):
    sum += i
print(sum)

10

In [12]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [13]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [15]:
for i in range(5):
    print('Hello World', i)
    i=5

Hello World 0
Hello World 1
Hello World 2
Hello World 3
Hello World 4

In [17]:
loof = int(input('반복할 횟수 : '))
for i in range(loof):
    print('Hello World')

반복할 횟수 : 4
Hello World
Hello World
Hello World
Hello World

### sequence 객체로 반복하기

In [25]:
a = [10,20,30,40,50]
for i in a:
    print(i,end=" ")

10 20 30 40 50

In [26]:
fruits = ('apple', 'orange', 'grape')
for fruit in fruits:
    print(fruit)

apple
orange
grape

In [27]:
for letter in 'Python':
    print(letter,end=' ')

P y t h o n

In [28]:
for letter in reversed('Python'):
    print(letter,end=' ')

n o h t y P

In [30]:
num = int(input())
for i in range(1,10):
    print( num,'*',i,'=', num*i)

5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45

### f-문자열

In [32]:
name = 'GD Gong'
greeting = f'Hi,{name}'
print(greeting)

Hi,GD Gong

In [33]:
multi = f'''Hi,{name}
{name}'''
print(multi)

Hi,GD Gong
GD Gong

In [35]:
exp = F'2x2={2*2}'
exp

'2x2=4'

In [ ]:
num = int(input())
for i in range(1,10):
    print(f'''{num}*{i}={num*i}''')

In [38]:
num = int(input())
for i in range(1,10):
    print( num,'*',i,'=', num*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45