# Unit 19. 계단식으로 별 출력하기

In [7]:
for i in range(5):
    for k in range(5):
        print(f'''k: {k}''',sep='',end=' ')
    print(f'''i: {i}''')

k: 0 k: 1 k: 2 k: 3 k: 4 i: 0
k: 0 k: 1 k: 2 k: 3 k: 4 i: 1
k: 0 k: 1 k: 2 k: 3 k: 4 i: 2
k: 0 k: 1 k: 2 k: 3 k: 4 i: 3
k: 0 k: 1 k: 2 k: 3 k: 4 i: 4

In [10]:
for i in range(5):
    for k in range(5):
       print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
# 1 사분면
for i in range(5):
    for k in range(i+1):
       print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
# 2 사분면
for i in range(5):
    for k in range(4-i):
        print(' ',end='')
    for k in range(i+1):
       print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [16]:
# 3 사분면
for i in range(5):
    for k in range(i):
        print(' ',end='')
    for k in range(5-i):
        print('*',end='')
    print()

*****
 ****
  ***
   **
    *

In [14]:
# 4 사분면
for i in range(5):
    for k in range(5-i):
       print('*',end='')
    print()

*****
****
***
**
*

In [17]:
for i in range(4):
    for k in range(3-i):
        print(' ',end='')
    for k in range(2*i-1):
        print('*',end='')
    print()

  *
 ***
*****

In [19]:
for i in range(4):
    for k in range(3-i):
        print(' ',end='')
    for k in range(2*i-1):
        print('*',end='')
    print()
for i in reversed(range(3)):
    for k in range(3-i):
        print(' ',end='')
    for k in range(2*i-1):
        print('*',end='')
    print()

  *
 ***
*****
 ***
  *

In [22]:
for i in range(4):
    print(' '*(3-i),'*'*(2*i-1))

   *
  ***
 *****