# Unit 22. 리스트와 튜플

### 리스트 조작

In [184]:
a = [10,20,30]
a.append(500)
a

[10, 20, 30, 500]

In [185]:
a.append([3,4])
a

[10, 20, 30, 500, [3, 4]]

In [186]:
import random as rs
y = []
for i in range(3):
    x=[]
    for k in range(6):
        x.append(rs.randint(1,6))
    y.append(x)
print(y)

[[6, 5, 2, 6, 2, 4], [1, 2, 6, 2, 1, 1], [2, 4, 1, 6, 5, 1]]

In [187]:
def print_matrix(mat):
    for row in mat:
        for element in row:
            print(element, end=' ')
        print()

In [188]:
# old-fashoined
def old_print_matrix(mat):
    for i in range(len(mat)):
        for k in range(len(mat[0])):
            print(mat[i][k], end=' ')
        print()

In [189]:
old_print_matrix(y)

6 5 2 6 2 4
1 2 6 2 1 1
2 4 1 6 5 1

In [190]:
a.pop()
a

[10, 20, 30, 500]

In [191]:
a

[10, 20, 30, 500]

In [192]:
a.index(30)

2

In [193]:
a.append(20)

In [194]:
a.count(20)

2

In [195]:
a.reverse()
a

[20, 500, 30, 20, 10]

In [196]:
a.sort()
a

[10, 20, 20, 30, 500]

In [197]:
a.sort(reverse=True)
a

[500, 30, 20, 20, 10]

In [198]:
a = [10,20,30,15,20,40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [199]:
b = [10,20,30,15,20,40]
print(sorted(b),b)

[10, 15, 20, 20, 30, 40] [10, 20, 30, 15, 20, 40]

In [200]:
a = [10,20,30]
a[3:] = [40]
a

[10, 20, 30, 40]

### 리스트 할당

In [201]:
a=[0,0,0,0,0]
b = a

In [202]:
b

[0, 0, 0, 0, 0]

In [203]:
b[2]=2
b

[0, 0, 2, 0, 0]

In [204]:
a

[0, 0, 2, 0, 0]

In [205]:
a is b

True

In [206]:
a = [0,0,0,0,0]
b = a.copy() 
b[2] = 2
a,b

([0, 0, 0, 0, 0], [0, 0, 2, 0, 0])

In [207]:
a is b

False

### 반복문으로 출력하기

In [208]:
a = [10,20,30,15,20,40]
for index,value in enumerate(a):
    print(index,value)

0 10
1 20
2 30
3 15
4 20
5 40

### 유용한 함수

In [209]:
# 가장 작은 수는?
a = [10,20,30,40,5]
min1 = a[0]
max1 = a[0]
for i in range(1,len(a)):
    if a[i] < min1:
        min1 = a[i]
    if a[i] > max1:
        max1 = a[i]
print(min1,max1)

5 40

In [210]:
a.sort()
print(a[0],a[-1])

5 40

In [211]:
sum(a)

105

### 리스트 표현식(List Comprehension)

In [212]:
#1에서 10까지 제곡수를 리스트로 만드시오
sq = []
for i in range (1,11):
    a.append(i*i)
sq

[]

In [213]:
sq_new = [i*i for i in range(1,11)]
sq_new

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [214]:
sq_odd = [i*i for i in range(1,11) if i % 2 != 0]
sq_odd

[1, 9, 25, 49, 81]

In [215]:
a = [i*j for i in range(2,10) for j in range(1,10)] 
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### map 함수

In [216]:
a = [1.2, 2.5, 3.7, 4.6]
b = a.copy()
for i in range(len(a)):
    a[i] = int(a[i])
    b[i] = round(b[i])
print(a,b)

[1, 2, 3, 4] [1, 2, 4, 5]

In [217]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int,a))
a

[1, 2, 3, 4]

In [218]:
x = list(map(int,input('정수를 입력하세요 : ').split()))
print(x)

정수를 입력하세요 :
[]

In [219]:
hour,minute,second = map(int,input('hh:mm:ss').split(':'))
print(f'{hour}:{minute}:{second}')

hh:mm:ss

ValueError: invalid literal for int() with base 10: ''

In [220]:
year, month, day = map(int,input('yy-mm-dd').split('-'))
print(f'{year}-{month}-{day}')

yy-mm-dd

ValueError: invalid literal for int() with base 10: ''

### 튜플

In [221]:
a = (38, 21, 53, 62, 19, 53)
a[3]

62

In [222]:
a.count(21)

1

In [223]:
min(a)

TypeError: 'int' object is not callable